<ul class="list list-gap-10 collapsible-container" data-collapse-after="5">
    <li>
        <span class="color-primary"> Last Scan : </span>{{ data.Last_Scan }}
    </li>
    <li>
        <span class="color-primary">Online Devices : </span>{{ data.Online_Devices }}
    </li>
    <li>
        <span class="color-primary">Offline Devices : </span>{{ data.Offline_Devices }}
    </li>
    <li>
        <span class="color-primary">New Devices : </span>{{ data.New_Devices }}
    </li>
</ul>